/* SECCION T R A B A J O S */
.trabajos {
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 20px;
}
.trabajos h2 {
  text-align: center;
}
.trabajos nav {
  text-align: center;
  margin: 30px 0;
}
.trabajos nav button {
  text-decoration: none;
  border-radius: 4px;
  background: none;
  display: inline-block;
  margin: 0 20px;
  color: #007be5;
  font-weight: bold;
  padding: 3px 10px;
  border: 3px solid transparent;
}
.trabajos nav button:hover {
  border: 3px solid #ff5b00;
  border-radius: 4px;
}
/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde {
  border: 3px solid #ff5b00 !important;
}
.trabajos .galeria .item img {
  width: 100%;
  height: 100%;
  display: block;
}
.trabajos .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 30px;
}
.trabajos .galeria .item {
  position: relative;
  overflow: hidden;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
}
.trabajos .galeria .item .info {
  position: absolute;
  top: -100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  opacity: 0;
  transition: 0.3s;
}
.trabajos .galeria .item .info h3 {
  color: #000;
  margin-bottom: 20px;
}
.trabajos .galeria .item .info span {
  color: #8d8d8d;
  display: inline-block;
  border: 2px solid #8d8d8d;
  margin: 0 3px;
  padding: 0 5px;
}
.trabajos .galeria .item .info button {
  display: block;
  margin: 20px;
  text-decoration: none;
  color: #007be5;
  font-weight: bold;
}
.trabajos .galeria .item:hover .info {
  opacity: 1;
  top: 0;
}
