.habilidades {
    padding: 50px 0;
}

.contenedor-habi {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    width: 30%;
    margin: 20px 0;
}

.score {
    display: flex;
    justify-content: center;
}

.box {
    position: relative;
    width: 150px;
    height: 150px;
}

.box h2 {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

.canvas {
    width: 100%;
    height: auto;
}
